header{
    margin-left: 45%;
    margin-top: 10%;
}

body{
    background-color: black;
    color: azure;
}

footer{
    margin-left: 45%
}

.conten{
    margin-left: 45%;
}

.content{
    margin-left: 45%;
}